
<!-- addProduct old code -->


    <%- include('../partials/admin/adminHeader') %>




    <div class="container mt-5" >

        <form action="/admin/addProduct" method="post" class="myform" class="form-group" style="padding-top: 70px;" >
            <div class="card">
                <div class="card-body" >
                    <div class="card-header bg-primary text-white">
                        <h3 class="text-center mb-0">Product Save Info</h3>
                    </div>

                    <div class="row">
                        <div class="form-group row col-md-6 mr-2px">
                            <label for="input" class="mt-4">Product Name</label>
                            <input type="text" name="productName" class="form-control mywork" placeholder="Product Name">
                        </div>

                        <!-- <div class="form-group row col-md-6">
                            <label for="input" class="mt-4">Product Description</label>
                            <input type="text" name="description" class="form-control mywork" placeholder="Product Discription">
                        </div>
                    </div> -->

                    <div class="row">
                        <div class="form-group row col-md-4">
                            <label for="input" class="mt-4">Product Description</label>
                            <textarea class="form-control" name="description" id="" cols="30" rows="3" placeholder="Product Description"></textarea>
                        </div>



                    <div class="row">
                        <div class="form-group row col-md-6">
                            <label for="input" class="mt-4">Product Category</label>
                            <!-- <input type="text" name="" class="form-control mywork" placeholder=""> -->
                            <select class="drop1" name="category" style="border: transparent;">
                                <option value="mobile">Mobile</option>
                                <option value="saab">Laptop</option>
                                <option value="fiat">Camera</option>
                                <option value="audi">Accessories</option>
                            </select>
                        </div>

                        <div class="form-group row col-md-6">
                            <label for="input" class="mt-4">Product Brand</label>
                            <input type="text" name="brandName" class="form-control mywork" placeholder="Product Brand">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group row col-md-4">
                            <label for="input" class="mt-4">Stock Quantity</label>
                            <input type="number" name="stockCount" class="form-control" placeholder="Stock Quantity">
                        </div>

                        <!-- <div class="form-group row col-md-4">
                            <label for="input" class="mt-4">Available Quantity</label>
                            <input type="number" name="" class="form-control" placeholder="Available Quantity">
                        </div> -->

                        <div class="form-group row col-md-4">
                            <label for="input" class="mt-4">Price</label>
                            <input type="number" name="price" class="form-control" placeholder="Main Price">
                        </div>

                    </div>

                    <!-- <div class="row">
                        <div class="form-group row col-md-4">
                            <label for="input" class="mt-4">Product Description</label>
                            <textarea class="form-control" name="" id="" cols="30" rows="3" placeholder="Product Description"></textarea>
                        </div> -->

                        <!-- <div class="form-group row col-md-4">
                            <label for="input" class="mt-4">Percentage Discount</label>
                            <input type="number" name="" class="form-control" placeholder="Percentage Discount">
                        </div>
                    </div> -->

                    <!-- <div class="row">
                        <div class="form-group row col-md-6">
                            <label for="input" class="mt-4">Stock Alert</label>
                            <input type="text" name="" class="form-control" placeholder="Stock Alert">
                        </div> -->

                        <!-- <div class="form-group row col-md-6">
                            <label for="input" class="mt-4">Discount Price</label>
                            <input type="number" name="" class="form-control" placeholder="Discount Price">
                        </div>
                    </div> -->

                    <div class="row">
                        <div class="form-group row col-md-4">
                            <label for="input" class="mt-4">Main Image / File</label>
                            <input type="file" name="image" class="form-control" placeholder="Main Image / File">
                        </div>

                        <div class="form-group row col-md-4">
                            <label for="input" class="mt-4">Color Types</label>
                            <input type="text" name="Color" class="form-control" placeholder="Color Types">
                        </div>

                        <!-- <div class="form-group row col-md-4">
                            <label for="input" class="mt-4">Status</label>
                            <input type="text" name="" class="form-control" placeholder="Status">
                        </div> -->

                    </div>

                    <div class="row">
                        <div class="form-group col-md-12 text-center text-right-mt-5">
                            <button type="submit" class="btn btn-primary btn-block btn-lg">Save Products</button>
                        </div>
                    </div>
                </div>

            </div>
        </form>

    </div>





    <%- include('../partials/admin/adminFooter') %>








