
/* .card-body{
    width: 440px;
    border: none !important;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    justify-content: center;
    
}
.d-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card-titil{
    color: #333;
}
.form-control {
    border-radius: 8px;
}
.btn{
    background-color: #1c1839;
    border: none;
    border-radius: 23px;
    padding: 11px 99px;
    transition: background-color 0.3s ease;   
}
.btn:hover {
    background-color: #4b3f72;
    color: #fff;
    text-align: center;
} */





.card {
    border: none !important;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.card-body {
    width: 100%;
}

.form-control {
    border-radius: 8px;
}

.btn {
    background-color: #1c1839;
    border: none;
    border-radius: 23px;
    padding: 10px 30px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #4b3f72;
    color: #fff;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .card-body {
        padding: 20px;
    }

    .btn {
        padding: 10px 25px;
    }
}


/* header user avatar */

.user_avathar{
    width: 26px ;
    margin-left: 5px;
}


/* checkout  */

/* General styling for the coupon section */
.coupon-section {
    margin-top: 20px;
    border: 1px solid #e0e0e0;
    padding: 20px;
    border-radius: 5px;
}

/* Style for coupon input */
.coupon-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

/* Style for coupon button */
.coupon-btn {
    width: 100px;
    height: 40px;
    background-color: #7dab36;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Style for order list */
.checkout__order__list {
    list-style-type: none;
    padding-left: 0;
}

/* Style for payment options */
.checkout__payment-options {
    margin-top: 20px;
}

/* Style for checkbox */
.checkout__input__checkbox {
    margin-bottom: 10px;
}

/* Style for PLACE ORDER button */
.checkout__place-order-btn {
    width: 100%;
    height: 50px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.scrollable-list {
    height: 200px; /* Set your desired height */
    overflow-y: auto;
    border: 1px solid #ddd; /* Optional: Add a border for styling */
    padding: 10px;
    margin-bottom: 10px; /* Optional: Add margin for spacing */
}
