
/* style for addProduct page  */

.card{
   padding-left: 10px !important 

}
.mywork{
    width: 95%;
}
.form-control{
    width: 95% !important ;
}
 .drop1{                        /* styling for dropdown */
    width: 95% !important;
    height: 35px !important;  
    
}
.btn{
    margin-top: 30px !important;
}
::placeholder{
    color: #999 !important;
}

/* 
.app-header{
  background-color: transparent;
} */




/* style for category  */

.category-image{
    width: 200px;
    height: 200px;
}

/* .table-content{
    /* text-align: center !important;
    text-justify: center !important; */
    
    /* Add this CSS to your existing stylesheet or create a new one */
    
.text-center {
    text-align: center;
}

.text-center .btn {
    margin-top: 5px; /* Adjust as needed */
}
